@import './variables.scss';

.hot_button {
    width: 330px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $small;
    border: none;
    //background: $green-light;
    font-size: $m-medium;

    &--green {
        background: $green-light;
    }

    &--yellow {
        background: $yellow;
    }

    &--blue {
        background: $blue-light;
    }

    &:hover {
        box-shadow: $grey-dark;
        border-radius: $s-small;
    }

    .icon {
        margin-right: $small;
    }
}
