@import './variables.scss';

.side_tabs {
    margin: 0;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: $small;
    line-height: $medium;

    &__option {
        margin-bottom: 26px;
        text-decoration: none;
        color: $black;
        // &__link {
        //     text-decoration: none;
        //     color: $black;
        // }
        &:hover {
            color: $black;
        }
    }
}
