$blue: #2a81dd;
$black: #000;
$grey: #f2f2f3;
$grey-shade: #a9a9a9;
$white: #fff;
$green:  rgb(136, 173, 120);
$green-light: #eff8eb;
$grey-dark: rgba(28, 24, 25, 0.1);
$yellow: #fffae7;
$blue-light: #e9f2fb;
$blue-light-2:#d6ecfb;
$red: #da4040;

$large: 36px;
$l-large: 32px;
$medium: 24px;
$m-medium: 20px;
$small: 16px;
$s-small: 8px;
